#container {
  display: flex;
  flex-wrap: wrap;
}

.sqrDiv {
  background-color: antiquewhite;
  border-radius: 2px;
  border-color: black;
  flex-basis: calc(100% / 16);
  max-height: 100vh;
  box-sizing: border-box;
}
